.item img,
caption {
    display: block;
}


.photos {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}


@media (max-width : 600px) {
    .photos {
        grid-template-columns: 200px 200px;
    }
}
